<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
<h1>Stupid coaching</h1>

<p><%= @question %></p>
<p>you</p>
<p><%= @answer %></p>
<p>my f coach</p>
<%= link_to "ask another question", ask_path %>


